# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\prog\prac_perceptron\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
